:root {
    /* colors */
    --primary-color: #fffcf2;
    --secondary-color: #730000;
    --tertiary-color: #000000;
    --accent-color: #002d2f;
    /* spacing */
    --letter-spacing-h1: 0.25rem;
    --word-spacing-h1: 0.25rem;
}

body {
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
}

header{
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 20vh; */
    height: 10vh;
}

h1 {
    font-family: "BBH Bartle", sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    letter-spacing: var(--letter-spacing-h1);
    word-spacing: var(--word-spacing-h1);
}

h2 {
    font-size: 2rem;
    margin-top: 1rem;
}
.text-styles-section .inner-container h1,
.text-styles-section .inner-container h2,
.text-styles-section .inner-container h3 {
    margin-top: 0;
    margin-bottom: 1rem;
}
.text-styles-section .inner-container p {
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.5rem;
}
.fonts-section h3 {
    text-transform: uppercase;
    text-decoration: underline;
}

p {
    color: var(--tertiary-color)
}

hr {
    border-bottom: 1rem solid var(--tertiary-color);
    /* border-bottom: 1rem solid var(--secondary-color); */
}

.container {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top : 64px;
    margin-bottom : 32px;
}

.section {
    position: relative;
    /* height: auto; */
    height: 430px;
    width: 480px;
    border: 1px solid var(--tertiary-color);
    border-left: 1rem solid var(--tertiary-color);
    border-radius: 2rem;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    overflow: hidden;
    transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.section:hover {
    /* border: 1px solid var(--tertiary-color); */
    border: 4px solid var(--tertiary-color);
    box-shadow: none;
    /* width: 485px; */
}
.section:hover h2.subheading{
    font-weight: 700;
    transition: font-weight 0.3s ease-in-out;
}

.colors-section {
    width: 240px;
}

.fonts-section .inner-container, .text-styles-section .inner-container {
    align-items: flex-start;
    text-align: left;
}

.inner-container {
    height: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.h1h2-container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.color {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    border: 1px solid var(--tertiary-color);
    cursor: pointer;
    transition: font-weight 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    box-sizing: border-box;
}
.color:hover {
    font-weight: bold;
    border-radius: 2rem;
}

.primary {
    background-color: var(--primary-color);
}
.secondary {
    background-color: var(--secondary-color);
}
.secondary p {
    color: var(--primary-color);
}
.tertiary {
    background-color: var(--tertiary-color);
}
.tertiary p {
    color: var(--primary-color);
}
.accent {
    background-color: var(--accent-color);
    border-radius: 0 0 2rem 2rem;
}
.accent p {
    color: var(--primary-color);
}

.bbh-bartle {
    font-family: "BBH Bartle", sans-serif;
}
.space-grotesk {
    font-family: "Space Grotesk", sans-serif;
}

h3.bbh-bartle::before {
    position: absolute;
    content: "";
    /* border: 2px solid var(--tertiary-color); */
    background-color: var(--tertiary-color);
    right: 8px;
    height: 20px;
    width: 56px;
    transition: width 0.3s ease-in-out;
}
h3.space-grotesk::before {
    position: absolute;
    content: "";
    /* border: 2px solid var(--tertiary-color); */
    background-color: var(--tertiary-color);
    right: 8px;
    height: 20px;
    width: 56px;
    transition: width 0.3s ease-in-out;
}

.section:hover h3.bbh-bartle::before {
    width: 100px;
}
.section:hover h3.space-grotesk::before {
    width: 200px;
}

.bartle-section, .space-section {
    line-height: 2rem;
}

.normal {
    font-weight: 400;
}
.bold {
    font-weight: 700;
}
.italic {
    font-style: italic;
}
#created-by {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    max-width: 1264px;
    height: 32px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 16px;
    font-size: 0.75rem;
}
#creator {
    font-weight: bold;
    cursor: pointer;
}
#creator:hover {
    text-decoration: underline;
}
